
@{
    ViewBag.Title = "China";
}

<div class="container-fluid">

<!--------header----------------->


    <h1 class="title">ATC</h1>
    <img src="@Url.Content("~/Assets/Centers/ATC.png")" />

    <!--------header end ----------------->


    <!---------focus------------>

    <div class="container">
        <div class="focus-area">

            <h3>Focus Area</h3>
            <div class="row">

                <div class="col-lg-4 col-md-6 col-xs-12">
                    <div class="focus-item text-center">
                        <div class="icon">
                            <div class="glyphicon glyphicon-retweet pull-left">

                            </div>
                        </div>
                        <h4>Factory Automation</h4>
                        <p>Factory Automation</p>
                    </div>
                </div>

                <div class="col-lg-4 col-md-6 col-xs-12">
                    <div class="focus-item text-center">
                        <div class="icon">
                           <div class="glyphicon glyphicon-wrench">

                           </div>
                        </div>
                        <h4>Equipment Software Development</h4>
                        <p>Equipment Software Development</p>       
                    </div>
                </div>

                <div class="col-lg-4 col-md-6 col-xs-12">
                    <div class="focus-item text-center">
                        <div class="icon">
                            <div class="glyphicon glyphicon-cog">
                            </div>
                        </div>
                        <h4>Software support for ATS/ATHK/ATC</h4>
                        <p>Software support for ATS/ATHK/ATC</p>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 col-xs-12">
                    <div class="focus-item text-center">
                        <div class="icon">
                            <i class="glyphicon glyphicon-book"></i>
                        </div>
                        <h4>Software Testing</h4>
                        @*<p>Software Testing</p>*@
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 col-xs-12">
                    <div class="focus-item text-center">
                        <div class="icon">
                            <div class="glyphicon glyphicon-th-list">
                            </div>
                        </div>
                        <h4>System and related development</h4>
                        <p>System and related development</p>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 col-xs-12">
                    <div class="focus-item text-center">
                        <div class="icon">
                            <div class="glyphicon glyphicon-check">
                            </div>
                        </div>
                        <h4>Web/HMI Application Development</h4>
                        <p>Web/HMI Application Development</p>
                    </div>
                </div>


            </div>
        </div>
    </div>


    <!----------------focus end ------>

    <!---------Software function------->
    <div class="container">
        <div class="functions">
            <h3>Software Functions</h3>

            <div class="row">
                <div class="col-lg-12">
                    <div class="function-item">
                        <div class="function-type">
                            <h3>Software Quality</h3>
                            <div class="function-icon">

                            </div>
                        </div>
                        <div class="function-description">

                            <div class="function-info">
                                SWD
                            </div>
                            <div class="function-info">
                                AutoTesting Framework
                            </div>
                            <div class="function-info">
                                Equipment Testing
                            </div>
                            <div class="function-info">
                                SQA Framework
                            </div>


                        </div>
                    </div>
                </div>

                <div class="col-lg-12">
                    <div class="function-item">
                        <div class="function-type">
                            <h3>Software Platform</h3>
                            <div class="function-icon">

                            </div>
                        </div>
                        <div class="function-description">

                            <div class="function-info">
                                ASM HMI and Web Platform
                            </div>
                            <div class="function-info">
                                License control Platform
                            </div>
                            <div class="function-info">
                                Smart Factory Platform
                            </div>
                        </div>
                    </div>
                </div>

                
                <div class="col-lg-12">
                    <div class="function-item">
                        <div class="function-type">
                            <h3>Software Development</h3>
                            <div class="function-icon">

                            </div>
                        </div>
                        <div class="function-description">

                            <div class="function-info">
                                Digital Minic
                            </div>
                            <div class="function-info">
                                Lead Frame iFactory
                            </div>
                            <div class="function-info">
                                Inline Material Manager
                            </div>
                            <div class="function-info">
                                Xpert Host Platform
                            </div>
                            <div class="function-info">
                                Common Software library and Utilities
                            </div>

                        </div>
                    </div>


                    <div class="col-lg-12">
                        <div class="function-item">
                            <div class="function-type">
                                <h3>?????</h3>
                                <div class="function-icon">

                                </div>
                            </div>
                            <div class="function-description">

                                <div class="function-info">
                                    Product group outsourcing
                                </div>
                                <div class="function-info">
                                    Offline station development
                                </div>
                                <div class="function-info">
                                    Inline Material Manager
                                </div>
                                <div class="function-info">
                                    Platform development
                                </div>
                                <div class="function-info">
                                    All types Software project
                                </div>

                            </div>
                        </div>
                    </div>

                    <div class="col-lg-12">
                        <div class="function-item">
                            <div class="function-type">
                                <h3>Equipment Development</h3>
                                <div class="function-icon">

                                </div>
                            </div>
                            <div class="function-description">

                                <div class="function-info">
                                    Factory Automation
                                </div>
                                <div class="function-info">
                                    Equipment Development
                                </div>
                                <div class="function-info">
                                    Satellite Team
                                </div>
                                <div class="function-info">
                                    Platform development
                                </div>
                                <div class="function-info">
                                    All types Software project
                                </div>

                            </div>
                        </div>
                    </div>

                </div>

                        
                        
                    </div>
                </div>
        </div>
    <br />
    <h3>Personnel Structure:</h3>
    <div id="empChart">
    </div>

    <input id="Show Chart" type="button" value="Show Chart" onclick="drawEmpChart();" />

</div>


<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.8.2/jquery.min.js"></script>
<script type="text/javascript" src="https://www.google.com/jsapi"></script>

<script type="text/javascript">

    google.load("visualization", "1", { packages: ["orgchart"] });

    $('#btnLoadChart').click(function () {
        drawEmpChart();
    });

    function drawEmpChart() {

        $.ajax({
            type: "POST",
            url: "/Home/GetEmpChartData1",
            data: '{}',
            contentType: "application/json; charset=utf-8",
            dataType: "json",
            success: function (empData) {

                var chartData = new google.visualization.DataTable();

                chartData.addColumn('string', 'Name');
                chartData.addColumn('string', 'Manager');
                chartData.addColumn('string', 'ToolTip');

                $.each(empData, function (index, row) {
                    var reportID = row.ReportID.toString() == "0" ? '' : row.ReportID.toString();

                    chartData.addRows([[{
                        v: row.Id.toString(),
                        f: row.FirstName  +'<div>(<span>' + row.Designation + '</span>)</div><img height="50px" width="50px" src = "/Photos/' + row.FirstName.toString() + '.png" />'
                    }, reportID, row.Designation]]);
                });

                var chart = new google.visualization.OrgChart($("#empChart")[0]);
                chart.draw(chartData, { allowHtml: true });
            },
            failure: function (xhr, status, error) {
                alert("Failure: " + xhr.responseText);
            },
            error: function (xhr, status, error) {
                alert("Error: " + xhr.responseText);
            }
        });
    }
</script>



<a href="@Url.Action("SWCentres","Home")">
    Back
</a>

<style>

    .title{
        margin: 20px auto;
    }


    .container-fluid {
        margin: 0 auto;
        text-align: center;
    }


    .container ul   {
        list-style-type: none;
    }

    .container ol{
        /*list-style-type: none;*/
    }

    /*
        Focus area
    */
    .focus-area{
        padding: 60px 30px;
        /*background: red;*/
    }
    .focus-area h3 {
        margin-bottom: 2em;
    }
    .glyphicon {
        font-size: 70px;
        color: #3ecf8e;
        position: absolute;
        left: 0;
        right: 0;
        top: 11%;
        /*text-align:center;*/
    }
    .icon {
        /*background: #1234b1;*/
        width: 110px;
        height: 110px;
        margin: 0px auto;
        margin-bottom: 20px;
        /*text-align: center;*/
        display: block;
        border-radius: 50%;
    }
    .focus-item{
        margin-bottom: 40px;
        /*padding: 10px*/
        border: 1px solid grey;
        transition: 0.5s ease;
    }
    .focus-item:hover{
        border: 1px solid red;
    }
    .focus-item h4 {
        margin-bottom: 20px;
    }

    /*
        Functions
    */

    .function-item{
        display: flex;  
        margin: 30px auto;
        padding: 0;
    }
    .function-type{
        /*width: 50%;*/
        margin: 0 auto; 
        border: 1px blue solid;
        padding: 120px;
    }
    .function-description{
        width: 50%;
        margin-right: 0px;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 10px;
    }
    .function-info {
        padding: 1em;
        border: 1px solid green;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    

</style>
