@model IEnumerable<ASM_Tools.Models.Tool>

@{
    ViewBag.Title = "Edit Tools";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>

<div class="input-group">
    <span><input type="text" id="Search" placeholder="Search Title" class="form-control" /></span>
    <span>
        <select id="DropDownList1" Height="72px" Width="184px">
            <option Value="">All</option>
            <option Value="ATS">ATS</option>
            <option Value="ATW">ATW</option>
            <option Value="ATC">ATC</option>
            <option Value="ATHK">ATHK</option>
            <option value="COC">COC</option>
        </select>
    </span>
</div>

<main role="main">

    <section class="jumbotron text-center">
        <div class="container">
            <h1 class="jumbotron-heading">Product Showcase</h1>
            <p class="lead text-muted">Something short and leading about the collection below—its contents, the creator, etc. Make it short and sweet, but not too short so folks don't simply skip over it entirely.</p>
            <p>
                <a href="#" class="btn btn-primary my-2">Main call to action</a>
                <a href="#" class="btn btn-secondary my-2">Secondary action</a>
            </p>
        </div>
    </section>

    @Html.Partial("ToolList", Model)

  
</main>
